<!doctype html>
<html>
<title>Stock Data Lookup</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>


    <h4>
      Please choose the ticker and the plot type
    </h4>

    <form id='tickerinfoform' method='post' action='next_ticker' >
      <p>
    Ticker: <input type='text' name='ticker' />
      </p>
      <p>
          Plot Type: <br />
          <input type='radio' name='plot_type' value='close' /> Closing price <br />
          <input type='radio' name='plot_type' value='adj_close' /> Adjusted closing price  <br />
          <input type='radio' name='plot_type' value='open' /> Opening price  <br />
		 <input type='radio' name='plot_type' value='adj_open' /> Adjusted opening price  <br />
      <p>
             <label>Select  a month</label>
             <select name = 'month'>
               <option value = 'January'>January</option>
               <option value = 'February'>February</option>
               <option value = 'March'>March</option>
               <option value = 'April'>April</option>
               <option value = 'MAy'>May</option>
               <option value = 'June'>June</option>
               <option value = 'July'>July</option>
               <option value = 'August'>August</option>
               <option value = 'September'>September</option>
               <option value = 'October'>October</option>
               <option value = 'November'>November</option>
               <option value = 'December'>December</option>
             </select>
          


        </p>



    <input type='submit' value='Submit' />
      </p>
    </form>

  

</html>
